
body{
  background-color: #009999;
  font-family: 'Noto Serif', serif;
}
img {
  display: none;
  width: 630px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
.form-control {
  width: 630px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  text-align: center;
  color: darkred;
  font-weight: bold;
}
h5 {
  margin-left: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn {
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
select {
  cursor: pointer;
}
form {
  border: solid;
  border-color: black;
  border-radius: 100%;
  padding: 50px;
  background-color: #006666;
  margin: 50px;
}
#cssimage {
  border-radius: 100px;
}
.top {
  text-align: center;
  background-color: #99ccff;
}
h2 {
  cursor: pointer;
  color: blue;
}
h2:hover {
  color: darkblue;
  text-decoration: underline;
}
.col-md-3 {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
.col-md-3:hover {
  border-bottom-width: 4px;
  border-top-width: 4px;
  border-right-width: 4px;
  border-left-width: 4px;
  margin-top: -4px;
}
.invalid-feedback {
  margin-left: 135px;
}
#adviceCss {
  display: none;
}
#adviceJava {
  display: none;
}
#adviceCsharp {
  display: none;
}
h4 {
  text-align: center;
  margin: 20px;
}
